# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# =========================
# Virtual Environment
# =========================
venv/
.env/
.venv/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Database
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
